!!!
html
  head
    title= title

    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://cloud.github.com/downloads/SteveSanderson/knockout/jquery.tmpl.min.js')
    script(src='http://cloud.github.com/downloads/SteveSanderson/knockout/knockout-1.2.1.js')
    script(src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js')
    script(src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-buttons.js')
    script(src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-twipsy.js')
    script(src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-tabs.js")
    script(src="/javascripts/index.js")

  body
  
    div.topbar
        div.topbar-inner
            div.container
                a.brand(href='/') #{title}
                ul.nav
                    li: a(href="/search") Search

                ul.nav.secondary-nav
                    li: a Welcome

    div.content
        div.container.page
            h1 #{title}
            != body                    

        footer.footer
            div.container
                p Powered by 
                    a(href='http://revolunet.com/') Revolunet